#  ALPHABETICALLY SORTED: $LC_ALL=C sort fragment-02-defconfig-addons.config -o fragment-02-defconfig-addons.config
CONFIG_CLKSRC_STM32_LP=y
CONFIG_COUNTER=m
CONFIG_DYNAMIC_DEBUG=y
CONFIG_IIO_STM32_LPTIMER_TRIGGER=m
CONFIG_IIO_STM32_TIMER_TRIGGER=m
CONFIG_MFD_STM32_LPTIMER=m
CONFIG_MFD_STM32_TIMERS=m
CONFIG_OF_OVERLAY=y
CONFIG_PWM_STM32=m
CONFIG_PWM_STM32_LP=m
CONFIG_REGULATOR_ARM_SCMI=y
CONFIG_REMOTEPROC=y
CONFIG_STM32_ADC=m
CONFIG_STM32_ADC_CORE=m
CONFIG_STM32_RPROC=y
CONFIG_STM32_LPTIMER_CNT=m
CONFIG_STM32_TIMER_CNT=m
CONFIG_TEE_REMOTEPROC=y
CONFIG_USB_HIDDEV=y
