#  ALPHABETICALLY SORTED: $LC_ALL=C sort fragment-02-defconfig-addons.config -o fragment-02-defconfig-addons.config
CONFIG_DYNAMIC_DEBUG=y
CONFIG_OF_OVERLAY=y
CONFIG_REGULATOR_ARM_SCMI=y
CONFIG_REMOTEPROC=y
CONFIG_STM32_ADC=m
CONFIG_STM32_ADC_CORE=m
CONFIG_STM32_RPROC=y
CONFIG_TEE_REMOTEPROC=y
CONFIG_USB_HIDDEV=y
