# Config fragment mixins from hvac-dmeo all in one

# from ../hvac-demo/mixins/linux/extra.config
# needed for devmem2
CONFIG_STRICT_DEVMEM=n

# needed if we use scsi
CONFIG_SCSI_VIRTIO=y

CONFIG_I2C_ISCH=y
CONFIG_I2C_PIIX4=y
CONFIG_I2C_SCMI=y
CONFIG_I2C_VIRTIO=y
CONFIG_GPIO_VIRTIO=y

CONFIG_RTC_DRV_DS1307=y

# from ../hvac-demo/mixins/linux/qemu-xen.config
# Config changed from virtio-msg prototype branch

# from TEMP-Reset-defconfig.patch
CONFIG_MTD_NAND_FSL_IFC=y
CONFIG_USB_RTL8152=y
CONFIG_SENSORS_LM75=y
CONFIG_RTC_DRV_DS1307=y
CONFIG_IPQ_APSS_5018=y

# from TEMP-defconfig-Enable-qemu-xen-options.patch
CONFIG_NET_9P_DEBUG=y
CONFIG_SCSI_VIRTIO=y
CONFIG_I2C_ISCH=y
CONFIG_I2C_PIIX4=y
CONFIG_I2C_SCMI=y
CONFIG_I2C_VIRTIO=y
CONFIG_GPIO_VIRTIO=y
CONFIG_SENSORS_LM75=y
CONFIG_RTC_DRV_DS1307=y
CONFIG_VIRTIO_MEM=y
CONFIG_XEN_PRIVCMD_EVENTFD=y
CONFIG_XEN_VIRTIO=y
CONFIG_AL3320A=y
CONFIG_9P_FS_SECURITY=y

# from my xen-extra.config
CONFIG_XEN_GRANT_DMA_IOMMU=y
CONFIG_XEN_GRANT_DMA_OPS=y


# from ../hvac-demo/mixins/linux/trim.config
# CONFIG_DRM is not set
# CONFIG_TEGRA_HOST1X is not set
# CONFIG_SOUND is not set
# CONFIG_MEDIA_SUPPORT is not set
# CONFIG_RC_CORE is not set
# CONFIG_CEC_CORE is not set
# CONFIG_USB_GADGET is not set
# CONFIG_TYPEC is not set
# CONFIG_WLAN is not set
# CONFIG_BT is not set
# CONFIG_MAC80211 is not set
# CONFIG_WIRELESS is not set
# CONFIG_BTRFS_FS is not set

# keep these two as QEMU has nic cards for them
CONFIG_NET_VENDOR_INTEL=y
CONFIG_NET_VENDOR_8390=y

# lose the rest
# CONFIG_NET_VENDOR_3COM is not set
# CONFIG_NET_VENDOR_ACTIONS is not set
# CONFIG_NET_VENDOR_ADAPTEC is not set
# CONFIG_NET_VENDOR_AGERE is not set
# CONFIG_NET_VENDOR_ALACRITECH is not set
# CONFIG_NET_VENDOR_ALLWINNER is not set
# CONFIG_NET_VENDOR_ALTEON is not set
# CONFIG_NET_VENDOR_AMAZON is not set
# CONFIG_NET_VENDOR_AMD is not set
# CONFIG_NET_VENDOR_AQUANTIA is not set
# CONFIG_NET_VENDOR_ARC is not set
# CONFIG_NET_VENDOR_ASIX is not set
# CONFIG_NET_VENDOR_ATHEROS is not set
# CONFIG_NET_VENDOR_BROADCOM is not set
# CONFIG_NET_VENDOR_CADENCE is not set
# CONFIG_NET_VENDOR_CAVIUM is not set
# CONFIG_NET_VENDOR_CHELSIO is not set
# CONFIG_NET_VENDOR_CISCO is not set
# CONFIG_NET_VENDOR_CORTINA is not set
# CONFIG_NET_VENDOR_DAVICOM is not set
# CONFIG_NET_VENDOR_DEC is not set
# CONFIG_NET_VENDOR_DLINK is not set
# CONFIG_NET_VENDOR_EMULEX is not set
# CONFIG_NET_VENDOR_ENGLEDER is not set
# CONFIG_NET_VENDOR_EZCHIP is not set
# CONFIG_NET_VENDOR_FREESCALE is not set
# CONFIG_NET_VENDOR_FUNGIBLE is not set
# CONFIG_NET_VENDOR_GOOGLE is not set
# CONFIG_NET_VENDOR_HISILICON is not set
# CONFIG_NET_VENDOR_HUAWEI is not set
# CONFIG_NET_VENDOR_I825XX is not set
# CONFIG_NET_VENDOR_ADI is not set
# CONFIG_NET_VENDOR_LITEX is not set
# CONFIG_NET_VENDOR_MARVELL is not set
# CONFIG_NET_VENDOR_MEDIATEK is not set
# CONFIG_NET_VENDOR_MELLANOX is not set
# CONFIG_NET_VENDOR_META is not set
# CONFIG_NET_VENDOR_MICREL is not set
# CONFIG_NET_VENDOR_MICROCHIP is not set
# CONFIG_NET_VENDOR_MICROSEMI is not set
# CONFIG_NET_VENDOR_MICROSOFT is not set
# CONFIG_NET_VENDOR_MYRI is not set
# CONFIG_NET_VENDOR_NI is not set
# CONFIG_NET_VENDOR_NATSEMI is not set
# CONFIG_NET_VENDOR_NETERION is not set
# CONFIG_NET_VENDOR_NETRONOME is not set
# CONFIG_NET_VENDOR_NVIDIA is not set
# CONFIG_NET_VENDOR_OKI is not set
# CONFIG_NET_VENDOR_PACKET_ENGINES is not set
# CONFIG_NET_VENDOR_PENSANDO is not set
# CONFIG_NET_VENDOR_QLOGIC is not set
# CONFIG_NET_VENDOR_BROCADE is not set
# CONFIG_NET_VENDOR_QUALCOMM is not set
# CONFIG_NET_VENDOR_RDC is not set
# CONFIG_NET_VENDOR_REALTEK is not set
# CONFIG_NET_VENDOR_RENESAS is not set
# CONFIG_NET_VENDOR_ROCKER is not set
# CONFIG_NET_VENDOR_SAMSUNG is not set
# CONFIG_NET_VENDOR_SEEQ is not set
# CONFIG_NET_VENDOR_SILAN is not set
# CONFIG_NET_VENDOR_SIS is not set
# CONFIG_NET_VENDOR_SOLARFLARE is not set
# CONFIG_NET_VENDOR_SMSC is not set
# CONFIG_NET_VENDOR_SOCIONEXT is not set
# CONFIG_NET_VENDOR_STMICRO is not set
# CONFIG_NET_VENDOR_SUN is not set
# CONFIG_NET_VENDOR_SYNOPSYS is not set
# CONFIG_NET_VENDOR_TEHUTI is not set
# CONFIG_NET_VENDOR_TI is not set
# CONFIG_NET_VENDOR_VERTEXCOM is not set
# CONFIG_NET_VENDOR_VIA is not set
# CONFIG_NET_VENDOR_WANGXUN is not set
# CONFIG_NET_VENDOR_WIZNET is not set
# CONFIG_NET_VENDOR_XILINX is not set

# my version of virt.config
# using the real one breaks something in demo1 even if you turn on
# CONFIG_ARCH_{NXP,MXC} later.  So this version never turns then off

# CONFIG_ARCH_ACTIONS is not set
# CONFIG_ARCH_SUNXI is not set
# CONFIG_ARCH_ALPINE is not set
# CONFIG_ARCH_APPLE is not set
# CONFIG_ARCH_BCM is not set
# CONFIG_ARCH_BCM2835 is not set
# CONFIG_ARCH_BCMBCA is not set
# CONFIG_ARCH_BCM_IPROC is not set
# CONFIG_ARCH_BERLIN is not set
# CONFIG_ARCH_BRCMSTB is not set
# CONFIG_ARCH_EXYNOS is not set
# CONFIG_ARCH_SPARX5 is not set
# CONFIG_ARCH_K3 is not set
# CONFIG_ARCH_LAYERSCAPE is not set
# CONFIG_ARCH_LG1K is not set
# CONFIG_ARCH_HISI is not set
# CONFIG_ARCH_KEEMBAY is not set
# CONFIG_ARCH_MEDIATEK is not set
# CONFIG_ARCH_MESON is not set
# CONFIG_ARCH_MVEBU is not set
# CONFIG_ARCH_MA35 is not set
# CONFIG_ARCH_NPCM is not set
# CONFIG_ARCH_QCOM is not set
# CONFIG_ARCH_REALTEK is not set
# CONFIG_ARCH_RENESAS is not set
# CONFIG_ARCH_ROCKCHIP is not set
# CONFIG_ARCH_S32 is not set
# CONFIG_ARCH_SEATTLE is not set
# CONFIG_ARCH_INTEL_SOCFPGA is not set
# CONFIG_ARCH_STM32 is not set
# CONFIG_ARCH_SYNQUACER is not set
# CONFIG_ARCH_TEGRA is not set
# CONFIG_ARCH_TESLA_FSD is not set
# CONFIG_ARCH_SPRD is not set
# CONFIG_ARCH_THUNDER is not set
# CONFIG_ARCH_THUNDER2 is not set
# CONFIG_ARCH_UNIPHIER is not set
# CONFIG_ARCH_VEXPRESS is not set
# CONFIG_ARCH_VISCONTI is not set
# CONFIG_ARCH_XGENE is not set
# CONFIG_ARCH_ZYNQMP is not set

# we need these two for demo1 for some reason
CONFIG_ARCH_NXP=y
CONFIG_ARCH_MXC=y

# from ../hvac-demo/mixins/linux/uio.config
# we need these for demo3
CONFIG_UIO=y
CONFIG_UIO_IVSHMEM=m

# include the generic ones as well
CONFIG_UIO_PDRV_GENIRQ=y
CONFIG_UIO_DMEM_GENIRQ=y
CONFIG_UIO_PCI_GENERIC=y

# from ../hvac-demo/mixins/linux/vfio.config
# QEMU virtio-msg-ivshmem uses vfio to get to ivshmem
# as ivshmem does not do DMA, NOIMMU is safe 
# NOIOMMU is required on QEMU platform

CONFIG_VFIO_NOIOMMU=y

# turn on some extras also
CONFIG_VFIO_DEBUGFS=y
CONFIG_VFIO_PLATFORM_BASE=m
CONFIG_VFIO_PLATFORM=m
CONFIG_VFIO_AMBA=m
CONFIG_VFIO_PLATFORM_BCMFLEXRM_RESET=m

# from ../hvac-demo/mixins/linux/virtio.config
CONFIG_VIRTIO_MSG=m
CONFIG_VIRTIO_MSG_MMIO=m
CONFIG_VIRTIO_MMIO=m
CONFIG_VIRTIO_MSG_IVSHMEM=m
