# Openamp CI config built from the following fragments:
#     openamp.cfg remoteproc-arm64.cfg zynqmp-still-needed-def.cfg zynqmp-still-needed-com.cfg

############### openamp.cfg
# Kernel config for all kernels when openamp is in distro features
CONFIG_RPMSG_CHAR=m
CONFIG_RPMSG_NS=m
CONFIG_RPMSG_VIRTIO=m
CONFIG_RPMSG=m
CONFIG_VIRTIO=m
CONFIG_REMOTEPROC=y
CONFIG_RPMSG_CTRL=m


############### remoteproc-arm64.cfg

# most of the below will "select MAILBOX" but QCOM depends on it
CONFIG_MAILBOX=y
CONFIG_HWSPINLOCK=y

#
# All Remoteproc drivers in ARM64 (so far )
#
CONFIG_REMOTEPROC=y
CONFIG_REMOTEPROC_CDEV=y
CONFIG_IMX_REMOTEPROC=m
CONFIG_MTK_SCP=m
CONFIG_QCOM_PIL_INFO=m
CONFIG_QCOM_RPROC_COMMON=m
CONFIG_QCOM_Q6V5_COMMON=m
CONFIG_QCOM_Q6V5_ADSP=m
CONFIG_QCOM_Q6V5_MSS=m
CONFIG_QCOM_Q6V5_PAS=m
CONFIG_QCOM_Q6V5_WCSS=m
CONFIG_QCOM_SYSMON=m
CONFIG_QCOM_WCNSS_PIL=m
CONFIG_TI_K3_DSP_REMOTEPROC=m
CONFIG_TI_K3_R5_REMOTEPROC=m
CONFIG_XLNX_R5_REMOTEPROC=m

CONFIG_QCOM_SMEM=y

# enable platform device UIO
# This is used on Xilinx platforms in some (legacy) use cases
# This does nothing unless the user opts into it
CONFIG_UIO=y
CONFIG_UIO_PDRV_GENIRQ=m

#
# All Rpmsg drivers in ARM64 (so far)
# Don't be redundant with base level openamp.cfg
#
CONFIG_RPMSG_MTK_SCP=m
CONFIG_RPMSG_QCOM_GLINK=m
CONFIG_RPMSG_QCOM_GLINK_RPM=m
CONFIG_RPMSG_QCOM_GLINK_SMEM=m
CONFIG_RPMSG_QCOM_SMD=y
CONFIG_RPMSG_TTY=m

# Rpmsg sample
CONFIG_SAMPLES=y
CONFIG_SAMPLE_RPMSG_CLIENT=m


############### zynqmp-still-needed-def.cfg
########
# Support KV260 and other zynqmp platforms
# These are in the genericarm64 baseline and not in defconfig for v6.6

# DMA INTC and internals
CONFIG_XILINX_DMA=m
CONFIG_XILINX_ZYNQMP_DMA=m
CONFIG_XILINX_ZYNQMP_DPDMA=m
CONFIG_XILINX_INTC=y

# Ethernet
CONFIG_XILINX_EMACLITE=m
CONFIG_XILINX_AXI_EMAC=m
CONFIG_XILINX_GMII2RGMII=m

# basic peripherals
CONFIG_I2C_XILINX=m
CONFIG_SPI_XILINX=m
CONFIG_SPI_ZYNQMP_GQSPI=m
CONFIG_GPIO_ZYNQ=m
CONFIG_GPIO_XILINX=m
CONFIG_MFD_TPS65086=m
CONFIG_GPIO_TPS65086=m

# 2nd round, extra peripherals
CONFIG_XILINX_LL_TEMAC=m
CONFIG_CAN_XILINXCAN=m
CONFIG_XILINX_WATCHDOG=m
CONFIG_PWM_XILINX=m
CONFIG_XILINX_XADC=m
CONFIG_XILINX_AMS=m
CONFIG_EDAC_SYNOPSYS=m
CONFIG_EDAC_ZYNQMP=m
CONFIG_RTC_DRV_ZYNQMP=m

# Cadence peripherals
CONFIG_SPI_CADENCE=m
CONFIG_SPI_CADENCE_XSPI=m
CONFIG_GPIO_CADENCE=m
CONFIG_CADENCE_WATCHDOG=m

# Display stuff
CONFIG_DRM_ZYNQMP_DPSUB=m
CONFIG_DRM_DP_AUX_CHARDEV=y
CONFIG_DRM_DP_CEC=y

# USB
CONFIG_PHY_XILINX_ZYNQMP=m
CONFIG_USB_GADGET_XILINX=m

# PCI
CONFIG_PCIE_XILINX=y
CONFIG_PCIE_XILINX_NWL=y

# misc memory
CONFIG_NVMEM_ZYNQMP=m

# FPGA
CONFIG_FPGA_MGR_ZYNQMP_FPGA=m
CONFIG_FPGA_MGR_VERSAL_FPGA=m
CONFIG_COMMON_CLK_XLNX_CLKWZRD=m
CONFIG_FPGA_MGR_XILINX_SPI=m
CONFIG_XILINX_PR_DECOUPLER=m
CONFIG_XILINX_VCU=m

# Crypto
CONFIG_CRYPTO_DEV_ZYNQMP_AES=m
CONFIG_CRYPTO_DEV_ZYNQMP_SHA3=m


############### zynqmp-still-needed-com.cfg
########
# Support KV260 and other zynqmp platforms
# These are needed in BOTH the genericarm64 baseline and defconfig for v6.6

# Remoteproc
CONFIG_XLNX_R5_REMOTEPROC=m

# UIO
CONFIG_UIO=y
CONFIG_UIO_PDRV_GENIRQ=m

# Rpmsg sample
CONFIG_SAMPLES=y
CONFIG_SAMPLE_RPMSG_CLIENT=m


