
# from TEMP-Reset-defconfig.patch
CONFIG_MTD_NAND_FSL_IFC=y
CONFIG_USB_RTL8152=y
CONFIG_SENSORS_LM75=y
CONFIG_RTC_DRV_DS1307=y
CONFIG_IPQ_APSS_5018=y

# from TEMP-defconfig-Enable-qemu-xen-options.patch
CONFIG_NET_9P_DEBUG=y
CONFIG_SCSI_VIRTIO=y
CONFIG_I2C_ISCH=y
CONFIG_I2C_PIIX4=y
CONFIG_I2C_SCMI=y
CONFIG_I2C_VIRTIO=y
CONFIG_GPIO_VIRTIO=y
CONFIG_SENSORS_LM75=y
CONFIG_RTC_DRV_DS1307=y
CONFIG_VIRTIO_MEM=y
CONFIG_XEN_PRIVCMD_EVENTFD=y
CONFIG_XEN_VIRTIO=y
CONFIG_AL3320A=y
CONFIG_9P_FS_SECURITY=y
